<?xml version='1.0' encoding='utf-8'?>
<plugin id="sharesdk" 
  version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>ShareSdk</name>
  <description>ShareSdk</description>
  <author>fuyh@asto-inc.com</author>
  <license>MIT</license>
  <keywords>sharesdk</keywords>
  <repo>https://github.com/fuyinhai/sharesdk</repo>
  <issue>https://github.com/fuyinhai/sharesdk/issues</issue>

  <engines>
    <engine name="cordova" version=">=2.9" />
  </engines>

  <preference name="ShareSDK_AppKey"                    />
  <preference name="ShareSDK_SinaWeibo_AppKey"          />
  <preference name="ShareSDK_SinaWeibo_AppSecret"       />
  <preference name="ShareSDK_SinaWeibo_RedirectUrl"     />
  <preference name="ShareSDK_Wechat_AppId"              />
  <preference name="ShareSDK_Wechat_AppSecret"          />
  <preference name="ShareSDK_WechatMoments_AppId"       />
  <preference name="ShareSDK_WechatMoments_AppSecret"   />   

  <js-module name="ShareSdk" src="www/ShareSdk.js">
    <clobbers target="cordova.plugins.ShareSdk" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ShareSdk">
        <param name="android-package" value="com.yuanbaopu.databox.ShareSdkPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
    	<uses-permission android:name="android.permission.GET_TASKS" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
        <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- 
            	Adapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter的类，
            	这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            <meta-data android:name="Adapter" android:value="cn.sharesdk.demo.MyAdapter" />            
            -->
            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.BROWSABLE"/>
        		<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data android:name="ShareSDK_AppKey"                    android:value="$ShareSDK_AppKey" />
        <meta-data android:name="ShareSDK_SinaWeibo_AppKey"          android:value="$ShareSDK_SinaWeibo_AppKey" />
        <meta-data android:name="ShareSDK_SinaWeibo_AppSecret"       android:value="$ShareSDK_SinaWeibo_AppSecret" />
        <meta-data android:name="ShareSDK_SinaWeibo_RedirectUrl"     android:value="$ShareSDK_SinaWeibo_RedirectUrl" />
        <meta-data android:name="ShareSDK_Wechat_AppId"              android:value="$ShareSDK_Wechat_AppId" />
        <meta-data android:name="ShareSDK_Wechat_AppSecret"          android:value="$ShareSDK_Wechat_AppSecret" />
        <meta-data android:name="ShareSDK_WechatMoments_AppId"       android:value="$ShareSDK_WechatMoments_AppId" />
        <meta-data android:name="ShareSDK_WechatMoments_AppSecret"   android:value="$ShareSDK_WechatMoments_AppSecret" />            
    </config-file>

    <!--
    <source-file src="src/android/libs/MobTools.jar"                       target-dir="libs"/>
    <source-file src="src/android/libs/MobLogCollector.jar"                target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Core-2.6.3.jar"            target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-QQ-2.6.3.jar"              target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-SinaWeibo-2.6.3.jar"       target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Wechat-2.6.3.jar"          target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Wechat-Core-2.6.3.jar"     target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Wechat-Favorite-2.6.3.jar" target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Wechat-Moments-2.6.3.jar"  target-dir="libs"/>
    -->
  </platform>
  <!--platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CordovaUpdate">
        <param name="ios-package" value="CordovaUpdate" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>

    <source-file src="src/ios/CordovaUpdate.m" />
    <header-file src="src/ios/METEORCordovaURLProtocol.h" />
    <source-file src="src/ios/METEORCordovaURLProtocol.m" />

    <framework src="Foundation.framework" />

  </platform-->

</plugin>
