<?xml version='1.0' encoding='utf-8'?>
<plugin id="sharesdk" 
  version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>ShareSdk</name>
  <description>ShareSdk</description>
  <author>fuyh@asto-inc.com</author>
  <license>MIT</license>
  <keywords>sharesdk</keywords>
  <repo>https://github.com/fuyinhai/sharesdk</repo>
  <issue>https://github.com/fuyinhai/sharesdk/issues</issue>

  <engines>
    <engine name="cordova" version=">=2.9" />
  </engines>

  <js-module name="ShareSdk" src="www/ShareSdk.js">
    <clobbers target="cordova.plugins.ShareSdk" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ShareSdk">
        <param name="android-package" value="com.yuanbaopu.databox.ShareSdkPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.GET_TASKS" /> 
      <uses-permission android:name="android.permission.INTERNET"  /> 
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> 
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
      <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
      <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/> 
      <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </config-file>

    <source-file src="src/android/ShareSdkPlugin.java"        target-dir="src/com/yuanbaopu/databox"           />
    <source-file src="src/android/wxapi/WXEntryActivity.java" target-dir="src/com/yuanbaopu/databox/app/wxapi" />
    <!--
    <source-file src="src/android/libs/MobTools.jar"                      target-dir="libs"/>
    <source-file src="src/android/libs/mta-sdk-2.0.3.jar"                 target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Core-2.6.0.jar"           target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-SinaWeibo-2.6.0.jar"      target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Wechat-2.6.0.jar"         target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Wechat-Core-2.6.0.jar"    target-dir="libs"/>
    <source-file src="src/android/libs/ShareSDK-Wechat-Moments-2.6.0.jar" target-dir="libs"/>
    -->
  </platform>
  <!--platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CordovaUpdate">
        <param name="ios-package" value="CordovaUpdate" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>

    <source-file src="src/ios/CordovaUpdate.m" />
    <header-file src="src/ios/METEORCordovaURLProtocol.h" />
    <source-file src="src/ios/METEORCordovaURLProtocol.m" />

    <framework src="Foundation.framework" />

  </platform-->

</plugin>
